.checked {
    color: orange;
}

#floater-sticky-wrapper{
padding: 45px;
position:absolute;
right:10px
top:5px;

}

#canvas {
  /* width:2000px; */
  /* height:2000px; */
  border: 10px solid transparent;
}
.rectangle {
  border: 1px solid black;
  position: absolute;
}

#floater {
top:5px;
right:0px;
text-align: right;
z-index: 1;
padding: 15px;
}

.red {
background-color: green;
color: white;
}
