:root {
  --transparent-background-color: transparent;
  --first-background-color: #004DB3;
  --second-background-color: #26B85A;
  --third-background-color: #FFD533;
  --forth-background-color: #D88E8E;

}
.checked {
    color: orange;
}

.cover {
  background-color:black;
  width:100%;
  height:100%;
  display:none;
  position:fixed;
  top:0;
  left:0;
  z-index: 10000;
}


#floater-sticky-wrapper{

  /* width: 100% */
/* padding: 45px;
position:absolute;
right:10px
top:5px; */
 position: relative;
z-index: 1000;

}

#canvas {
  /* width:2000px; */
  /* height:2000px; */
  /* border: transparent; */
}

#canvas:hover .mouse-follower-tooltip {
    display: block;
}

.mouse-follower-tooltip {
    display: none;
    margin-left: 10px;
    position: absolute;
    z-index: 100000;
    background-color: #004DB3;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0px 5px 0px 5px;
}


.rectangle {
  border: 2px solid black;
  position: absolute;
  z-index: 3000
}

#floater {
    /* z-index: 1000; */
  /* z-index: 1000; */
  /* opacity: 3; */
}

#floater ul {
  z-index: 200;

  display: block;
  margin: auto 0;
  width: 50px;
  height: auto;
  padding: 40px;
  position: absolute;
  right: 15px;
  top: 55px;
}

#floater  li {
  display: block;
  width: 50px;
  height: auto;
  background-color: blue;
  border-radius: 50%;
  opacity: 0.6;
  mix-blend-mode: screen;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.12s ease-out, opacity 0.12s ease-out, color 0.12s ease-out;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  color: white;
  font-family: 'fontawesome';
  color: transparent;
}

#floater li:first-child:after {
  display: none;
}

#floater li:nth-child(1) {
  background-color: var(--first-background-color);
  transform: translate(0, -20%);
  z-index: 3;
  transition-duration: 0.12s;
}

#floater li:nth-child(2) {
  background-color: var(--second-background-color);
  transform: translate(20%, 0);
  z-index: 2;
  transition-duration: 0.24s;
}

#floater li:nth-child(3) {
  background-color: var(--third-background-color);
  transform: translate(0, 20%);
  z-index: 1;
  transition-duration: 0.36s;
}

#floater li:nth-child(4) {
  background-color: var(--forth-background-color);
  transform: translate(-20%, 0);
  z-index: 0;
  transition-duration: 0.48s;
}

#floater ul:hover {
  height: 308px;
}
#floater ul:hover li {
  color: white;
}
#floater ul:hover li:nth-child(1) {
  transform: translate(0, 0%);
}
#floater ul:hover li:nth-child(1):hover {
  opacity: 1;
  transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
  transform: translate(0, 0%) scale(1.15, 1.15);
  transition-duration: 0.24s;
}
#floater ul:hover li:nth-child(1):after {
  opacity: 1;
  transition-delay: 0.08s;
}
#floater ul:hover li:nth-child(2) {
  transform: translate(0, 110%);
}
#floater ul:hover li:nth-child(2):hover {
  opacity: 1;
  transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
  transform: translate(0, 110%) scale(1.15, 1.15);
  transition-duration: 0.24s;
}
#floater ul:hover li:nth-child(2):after {
  opacity: 1;
  transition-delay: 0.16s;
}
#floater ul:hover li:nth-child(3) {
  transform: translate(0, 220%);
}
#floater ul:hover li:nth-child(3):hover {
  opacity: 1;
  transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
  transform: translate(0, 220%) scale(1.15, 1.15);
  transition-duration: 0.24s;
}
#floater ul:hover li:nth-child(3):after {
  opacity: 1;
  transition-delay: 0.24s;
}
#floater ul:hover li:nth-child(4) {
  transform: translate(0, 330%);
}
#floater ul:hover li:nth-child(4):hover {
  opacity: 1;
  transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
  transform: translate(0, 330%) scale(1.15, 1.15);
  transition-duration: 0.24s;
}
#floater ul:hover li:nth-child(4):after {
  opacity: 1;
  transition-delay: 0.32s;
}
